.is-hidden {
  display: none;
}

.card {
  transition: background 0.3s;
}

.jumbotron {
  text-align: center;
}

.completed .jumbotron {
  color: white;
  background: #f00;
}

.jumbotron {
  font-size: 100px;
}

.right {
  float: right;
}
