doctype html

html
  head
    title Sadistic Timer
    meta(name='description' content='A simple timer to make training periods seem shorter than they are. Get your athletes past mental barriers.')
    link(rel='stylesheet' href='node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='css/style.css')
  body
    .container.js-stateful-container
      .card.show-for-start
        form.js-timer-form
          .form-group
            div
              label Real Time
            input#real-min(type='number' name='real-min' value='0')
            span :
            input#real-sec(type='number' name='real-sec' value='00' required=true)
          .form-group
            div
              label Fake Time
            input#fake-min(type='number' name='fake-min' value='0')
            span :
            input#fake-sec(type='number' name='fake-sec' required=true value='00')

          input.btn.btn-default(type='submit')
      .card.show-for-ready.is-hidden
        .js-time.jumbotron 00:00:00.00
      .show-for-running.is-hidden
        .js-time.jumbotron 00:00:00.00
      .card.completed.show-for-done.is-hidden
        .js-time.jumbotron 00:00:00.00
      .button-group
        button.btn.btn-default.show-for-ready.is-hidden(data-stateful-container-change='running' type='button') Start
        button.btn.btn-default.show-for-ready.is-hidden.right(data-stateful-container-change='start' type='button') Change Settings

        button.btn.btn-default.show-for-running.is-hidden(data-stateful-container-change='ready' type='button') Stop

        button.btn.btn-default.show-for-done.is-hidden(data-stateful-container-change='running' type='button') Start
        button.btn.btn-default.show-for-done.is-hidden.right(data-stateful-container-change='start' type='button') Change Settings

    audio.is-hidden#buzzer
      source(src='sound/buzzer.mp3')
      source(src='sound/buzzer.ogg')


    script(type='text/javascript' src='js/jquery.js')
    script(type='text/javascript' src='js/bundle.js')

    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{process.env.SADISTIC_TRAINER_ANALYTICS}', 'auto');
      ga('send', 'pageview');
